---
import Base from '../layouts/Base.astro';
---

<Base title="Credits" description="Attributions for artwork and assets used on Dangerous Robot.">
  <h1>Credits</h1>

  <section>
    <h2>Artwork</h2>
    <ul>
      <li>
        <strong>Main logo</strong> -
        <em>Prothesenkopf</em> (1925) by Heinrich Hoerle, Modified by Brandon Faloona
      </li>
    </ul>
  </section>
</Base>
